<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ar.gexa.app.eecc">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service android:enabled="true" android:name=".services.FCMTokenRefreshService" />

        <service android:name=".views.SendLocation"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="ar.gexa.app.eecc"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.FCMTokenService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".services.FCMMessageService"
            android:permission="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:enabled="true" android:name=".services.PhoneCallReceiverService" />

        <service android:name=".services.SyncService" android:exported="false"/>

        <receiver android:name=".PhoneCallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.Broadcast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ServiceRestarterBrodacastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="restartServices"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".views.MainView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.MenuView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ActivitySearchView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.RouteSearchView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CallCompleteView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".views.VisitCompleteView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true"/>

        <activity
            android:name=".views.SynchronizationView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.BootstrapView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CallUnknowView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.CallSuccess"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".views.SyncActivityCompletedView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>